@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100vh;
  background-image: url(../assets/topographic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100vh;
  padding: 7.5vh;
}

#search {
  background-image: url(../assets/icon-arrow.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  border-radius: 0 10px 10px 0;
}

input {
  border: none;
  border-radius: 10px 0 0 10px;
  width: 35%;
  padding-left: 20px;
}

#map {
  background-color: gray;
  height: 55vh;
  z-index: 0;
}

.upper {
  background-image: url(../assets/pattern-bg.png);
  text-align: center;
  height: 35vh;
}

.header {
  padding: 3vh;
  color: white;
  font-size: 24px;
}

.query {
  display: flex;
  justify-content: center;
}

.info-panel {
  display: flex;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 32.5vh;
  left: 15%;
  width: 70%;
  padding: 35px;
  border-radius: 14px;
  justify-content: space-evenly;
  z-index: 2;
}

.info-panel h2 {
  font-size: 13px;
  color: gray;
  width: 100%;
}

.panel-section {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: 1px solid black;
  width: 25%;
}

.panel-section:last-child {
  border: none;
}

/* Addresses browser issue found with Firefox. */
.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated {
  will-change:auto !important;
}